<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/head', { title: 'Funciones' }) %>
</head>
<body>
    <%- include('../templates/header') %>
    <%- include('../templates/sidebar_principal') %>

    <section class="home-section">
        <%- include('../templates/navbar', { home_content_name: 'Funciones' }) %>
        <div class="container mt-3 px-4 pb-3">

        </div>
    </section>

    <%- include('../templates/fotter') %>
    <%- include('../templates/fotter_2') %>
</body>
</html>