<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/head', { title: 'Funciones' }) %>
    <link rel="stylesheet" href="<%= base_url %>css/loading.css">
</head>
<body>
    <%- include('../templates/header') %>
    <%- include('../templates/sidebar_principal') %>

    <section class="home-section">
        <%- include('../templates/navbar', { home_content_name: 'Funciones' }) %>
        
        <div class="container mt-3 mb-3">
            <div class="accordion accordion-flush">
                <div class="accordion-item d-flex justify-content-between">
                    <h2 class="accordion-header">
                        <a
                            href="#!"
                            class="accordion-button collapsed seccion-acoordion cr-auto text-decoration-none text-blue-sys"
                            type="button"
                        >Adeudo Rezago</a>
                    </h2>
                    <div class="me-4" style="margin: auto 0px;">
                        <a
                            href="#"
                            role="button"
                            class="btn button-principal btn-sm btn-open-modal"
                            data-modal="modal_adeudo_rezago"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 20 20">
                                <path
                                    fill="white"
                                    d="M10.2 3.28c3.53 0 6.43 2.61 6.92 6h2.08l-3.5 4l-3.5-4h2.32a4.439 4.439 0 0 0-4.32-3.45c-1.45 0-2.73.71-3.54 1.78L4.95
                                    5.66a6.965 6.965 0 0 1 5.25-2.38zm-.4 13.44c-3.52 0-6.43-2.61-6.92-6H.8l3.5-4c1.17 1.33 2.33 2.67 3.5 4H5.48a4.439 4.439
                                    0 0 0 4.32 3.45c1.45 0 2.73-.71 3.54-1.78l1.71 1.95a6.95 6.95 0 0 1-5.25 2.38z"
                                />
                            </svg> Actualizar datos
                        </a>
                    </div>
                </div>
                <div class="accordion-item d-flex justify-content-between">
                    <h2 class="accordion-header">
                        <a
                            href="#!"
                            class="accordion-button collapsed seccion-acoordion cr-auto text-decoration-none text-blue-sys"
                            type="button"
                        >Carta Invitación</a>
                    </h2>
                    <div class="me-4" style="margin: auto 0px;">
                        <a
                            href="#"
                            role="button"
                            class="btn button-principal btn-sm btn-open-modal"
                            data-modal="modal_carta_invitacion"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 20 20">
                                <path
                                    fill="white"
                                    d="M10.2 3.28c3.53 0 6.43 2.61 6.92 6h2.08l-3.5 4l-3.5-4h2.32a4.439 4.439 0 0 0-4.32-3.45c-1.45 0-2.73.71-3.54 1.78L4.95
                                    5.66a6.965 6.965 0 0 1 5.25-2.38zm-.4 13.44c-3.52 0-6.43-2.61-6.92-6H.8l3.5-4c1.17 1.33 2.33 2.67 3.5 4H5.48a4.439 4.439
                                    0 0 0 4.32 3.45c1.45 0 2.73-.71 3.54-1.78l1.71 1.95a6.95 6.95 0 0 1-5.25 2.38z"
                                />
                            </svg> Actualizar datos
                        </a>
                    </div>
                </div>
                <div class="accordion-item d-flex justify-content-between">
                    <h2 class="accordion-header">
                        <a
                            href="#!"
                            class="accordion-button collapsed seccion-acoordion cr-auto text-decoration-none text-blue-sys"
                            type="button"
                        >Pagos Válidos</a>
                    </h2>
                    <div class="me-4" style="margin: auto 0px;">
                        <a
                            href="#"
                            role="button"
                            class="btn button-principal btn-sm btn-open-modal"
                            data-modal="modal_pagos_validos"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 20 20">
                                <path
                                    fill="white"
                                    d="M10.2 3.28c3.53 0 6.43 2.61 6.92 6h2.08l-3.5 4l-3.5-4h2.32a4.439 4.439 0 0 0-4.32-3.45c-1.45 0-2.73.71-3.54 1.78L4.95
                                    5.66a6.965 6.965 0 0 1 5.25-2.38zm-.4 13.44c-3.52 0-6.43-2.61-6.92-6H.8l3.5-4c1.17 1.33 2.33 2.67 3.5 4H5.48a4.439 4.439
                                    0 0 0 4.32 3.45c1.45 0 2.73-.71 3.54-1.78l1.71 1.95a6.95 6.95 0 0 1-5.25 2.38z"
                                />
                            </svg> Actualizar datos
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../templates/loading') %>
    <%- include('../templates/fotter') %>
    <%- include('../templates/fotter_2') %>
    <script src="<%= base_url %>js/funciones_interno.js" type="module"></script>
</body>
</html>