<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('templates/head', { title: 'Inicio' }) %>
</head>
<body>
    <%- include('templates/header') %>
    <%- include('templates/sidebar_principal') %>
    <%- include('templates/fotter') %>
    <%- include('templates/fotter_2') %>
</body>
</html>