<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('templates/head', { title: 'Inicio' }) %>
</head>
<body>
    <%- include('templates/header') %>
    <%- include('templates/sidebar_principal') %>
    <section class="home-section">
        <div class="home-content">
            <div class="d-flex align-items-center justify-content-center menu-sidebar">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                    <path fill="#254061" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                </svg>
            </div>
            <span class="text">Inicio</span>
        </div>
    </section>
    <%- include('templates/fotter') %>
    <%- include('templates/fotter_2') %>
</body>
</html>