<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="<%= base_url %>img/isotipo_cronos.png">
    <link rel="stylesheet" href="<%= base_url %>css/normalize.css">
    <link
        rel="stylesheet"
        href="<%= base_url %>css/bootstrap.min.css"
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="<%= base_url %>css/animate.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/login.css">
</head>
<body style="
    height: 100%;
    overflow: auto;"
>
    <%- include('templates/header') %>

    <div
        class="bar-design-login"
        style="
        background-color: rgb(37 64 97);
        border-bottom: 8px solid #17e85d;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 4rem;"
    ></div>

    <div
        class="bg-cronos-center-middle"
        style="background-image: url(img/bg-cronos-center.png);"
    >    
        <div class="container" style="position: relative; top: 50%; transform: translateY(-50%); z-index: 2;">
            <div class="row">
                <div class="col-sm-12 col-md-12 sg-login">
                    <div class="position-relative text-center text-white animate__animated animate__bounceInDown">
                        <img src="<%= base_url %>img/logo_blanco_erpp.png" alt="logo_erpp" class="logo-erpp mb-2">
                        <h1 class="fw-bold">Bienvenido a CRONOS CENTER</h1>
                        <p class="fs-5">
                            Aplicaci칩n administrativa donde confluye la informaci칩n esencial para la toma de decisiones.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div style="width: 50%; height: 100vh; float: right; background-color: #0000; background-image: url(img/bg-black.jpg); background-size: cover; background-position: center;">
        <div class="container" style="position: relative; top: 50%; transform: translateY(-50%); z-index: 2;">
            <div class="col-sm-12 col-md-12 card-login">
                <div class="card shadow-lg animate__animated animate__bounceInRight" style="max-width: 470.4px; margin: 0 auto; border-radius: 40px;">
                    <div class="card-body">
                        <img src="<%= base_url %>img/logo_cronos_fondoclaro.png" alt="logo_cronos" class="logo-sys-login">
                        <form id="form">
                            <h4 class="text-center my-4 fw-semibold" style="color: rgb(37 64 97);">LOGIN</h4>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-floating mb-3">
                                            <input
                                                type="text"
                                                class="form-control input-form"
                                                id="usuario-nombre"
                                                data-msg="msg-usuario"
                                                placeholder="Ingresa un Usuario"
                                                name="usuario_nombre"
                                            >
                                            <label for="usuario-nombre" style="color: #c9bdbd;">Ingresa un Usuario</label>
                                            <div id="msg-usuario" class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-floating mb-3">
                                            <input
                                                type="password"
                                                class="form-control input-form"
                                                id="usuario-password"
                                                data-msg="msg-password"
                                                placeholder="Ingresa una Contrase침a"
                                                autocomplete="on"
                                                name="usuario_password"
                                            >
                                            <label for="usuario-password" style="color: #c9bdbd;">Ingresa una Contrase침a</label>
                                            <div id="msg-password" class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <a
                                    id="btn-login"
                                    class="btn shadow"
                                    href="#!"
                                    role="button"
                                    style="background-color: #269355; color: #fff; font-weight: 600;"
                                >Ingresar</a>
                            </div>
                            <p class="my-4 text-center text-body-tertiary">Copyright &#169; 2023 CRONOS</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div
            class="bar-design-login"
            style="
                background-color: rgb(37 64 97);
                position: fixed;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                height: 4rem;
            "
    ></div>
    <%- include('templates/fotter') %>
    <script src="<%= base_url %>js/login.js" type="module"></script>
</body>
</html>