<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="<%= base_url %>css/normalize.css">
    <link
        rel="stylesheet"
        href="<%= base_url %>css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="<%= base_url %>css/login.css">
</head>
<body style="
    background-image: url(img/fondo_login.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;"
>
    <%- include('templates/header') %>

    <div style="
        background-color: rgb(37 64 97);
        border-bottom: 8px solid #17e85d;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 4rem;"
    ></div> 

    <div class="container mt-3" style="margin-top: 13rem !important;">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="max-width: 470.4px; margin: 0 auto;">
                    <div class="card-body">
                        <form id="form">
                            <h4 class="text-center fw-bold mb-4" style="color: rgb(37 64 97);">LOGIN</h4>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-floating mb-3">
                                            <input
                                                type="text"
                                                class="form-control input-form"
                                                id="usuario-nombre"
                                                data-msg="msg-usuario"
                                                placeholder="Ingresa un Usuario"
                                                name="usuario_nombre"
                                            >
                                            <label for="usuario-nombre" style="color: #c9bdbd;">Ingresa un Usuario</label>
                                            <div id="msg-usuario" class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-floating mb-3">
                                            <input
                                                type="password"
                                                class="form-control input-form"
                                                id="usuario-password"
                                                data-msg="msg-password"
                                                placeholder="Ingresa una Contraseña"
                                                autocomplete="on"
                                                name="usuario_password"
                                            >
                                            <label for="usuario-password" style="color: #c9bdbd;">Ingresa una Contraseña</label>
                                            <div id="msg-password" class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <a
                                    id="btn-login"
                                    class="btn"
                                    href="#"
                                    role="button"
                                    style="background-color: #2FD968; color: #fff; font-weight: 600;"
                                >Ingresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(37 64 97); position: fixed; right: 0; bottom: 0; left: 0; z-index: 1; height: 4rem;"></div>

    <%- include('templates/fotter') %>
    <script src="<%= base_url %>js/login.js"></script>
</body>
</html>