<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="<%= base_url %>css/normalize.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<link href="<%= base_url %>assets/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="<%= base_url %>css/animate.min.css" />
<link rel="stylesheet" href="<%= base_url %>css/index.css" />
<script src="<%= base_url %>assets/js/color-modes.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"/>